.inscriptionForm{
    background-color: rgb(232, 232, 232);
    padding: 25px;
    border-radius: 10px;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.clickable-row{
    cursor: pointer;
}

input#name.form-control{
    margin-bottom: 15px;
}

.test{
width: 24%;
}